body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

figure.left-align {
    display: inline-block;
    margin: 1rem;
    max-width: 1024px;
}
figure.left-align img {
    margin: 1rem auto !important;
}
figure.left-align h4 {
    margin-top: 0 !important;
}
figure img {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
    max-width: 100%;
}
blockquote p {
    color: #666 !important;
}
#toc {
    max-width: 500px;
    float:right;
    background: #e6f1ff;
    border: 1px dotted #ccc;
    padding: 10px;
    margin: 10px;

}
#toc strong {
    padding-left: 15px;
}
#TableOfContents ul {
    margin: 0 !important;
    padding: 0;
    list-style-type: none;
}
#TableOfContents ul > li > a {
    padding: 0;
margin: 0;
}
#TableOfContents ul > li > ul > li > a {
    padding-left: 18px;
    font-weight: 100 !important;
}

a[href="#toc"] {
    color: #000;
}
@media screen and (max-width: 500px) {
    #toc {
      float: none;
      margin: 10px 0;
    }
}
.temp-brave {
    background: url('/images/browser-icons/brave.png');
    padding-left: 22.8px;
    background-repeat: no-repeat;
}
.temp-cliqz {
    background: url('/images/browser-icons/cliqz.png');
    padding-left: 22.8px;
    background-repeat: no-repeat;
}
.active .temp-cliqz {
    filter: invert(1);
}
.active .temp-brave {
    filter: invert(1);
}

.full-screen #sidebar {
  left: -300px;
}
.full-screen #body {
  margin-left: 0;
}
.new {
  background: yellow;
}
#cs a.fa-info-circle:not(:first-child) {
  margin-top:8px;
}
#cs code {
    white-space: initial;
}
#cs th {
  position: sticky;
  top: 0;
}
#cs th:first-child {
    width: 10%;
}
#cs th:not(:first-child) {
    width: 15%;
}
#cs tr, #cs th, #cs td {
    vertical-align: top;
    line-height: 1.4pc;
}
#cs p {
  margin: 0.5rem 0 0 0;
}
#cs p:first-child {
  margin: 0;
}
code {
  vertical-align: initial;
}
@media only all and (max-width: 59.938em) {
  .full-screen #sidebar {
    left: -230px;
  }
}

@media only all and (max-width: 47.938em) {
  #fullscreen {
    display: none !important;
  }
}
#body a.highlight {
  line-height: initial;
  display: initial;
}
#body a.highlight:hover {
  text-decoration: underline;
}
#body a.highlight:after {
  all: initial;
}
#body > div.highlightable {
  overflow: initial;
}
